:root {
  --primary-color: #A6B28B;
  --secondary-color: #1C352D;
  --accent-color: #8A784E;
  --text-color: #A6B28B;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--text-color);
  font-family: 'roboto', sans-serif;
  background-color: var(--secondary-color);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: solid 1px var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 50vh;
}

.container .header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: var(--accent-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.container .volume-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.container .volume-inputs{
  display: flex;
  gap: 10px;
}
.container .volume-inputs input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 150px;
}
.container .exposed-Section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container .exposed-Section input {
  cursor: pointer;
  width: 20px;
  height: 20px;
  accent-color: var(--accent-color);
}
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 150px;
}
.container .unit-Selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.submit{
  width: 150px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: #fff;
  cursor: pointer;
  outline: none;
}
.output{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  background-color: #72613a;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  color: #fff;
}
/* Add to your existing CSS */
.submit:hover {
  background-color: #72613a; /* A slightly darker shade */
  transition: background-color 0.3s ease;
}

input:focus, select:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
  .container .volume-inputs {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .container .volume-inputs input {
    width: 100%;
  }
  .submit {
    width: 100%;
  }
  
}